
.character-card {
  position: relative;
}

.details-link {
  margin-top: 0.5rem;
}

.favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.favorite-button:hover {
  background-color: #333;
  color: #fff;
}

.heart-icon {
  margin-right: 0.3rem;
}
